* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: rgb(255, 250, 205);
  --text-color: rgb(0, 80, 11);
  --main-color: rgb(0, 145, 70);
  --plus-color: rgb(248, 225, 213);
}
body {
  background: var(--bg-color);
}
main {
  background: #faf0e6;
}
/*-------------------------------------------------------------------------------------------------------------------*/
.landing-page span {
  color: rgb(0, 0, 0);
}
.landing-page {
  background: rgba(52, 145, 97, 0.873);
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
}
h1 {
  text-align: center;
  padding-top: 50px; /* Reduce padding top to reduce the gap */
  max-width: 90%;
  align-items: center;
  margin: auto;
  margin-bottom: 2px;
  color: var(--text-color);
}
@media (max-width: 1000px) {
  h1 {
    text-align: center;
    padding-top: 10px; /* Reduce padding top to reduce the gap */
    max-width: 90%;
    align-items: center;
    margin: auto;
    margin-bottom: 2px;
    color: var(--text-color);
    font-size: small;
  }
}

h1:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.2s;
}

span {
  color: var(--main-color);
}
.club-logo {
  width: 15em;
  aspect-ratio: 25 / 10;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin: 0;
  padding: 0;
}

.club-logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.name > a {
  font-size: 3rem;
  color: var(--bg-color);
}
.name span {
  color: #fffacd;
}
.name > p {
  margin: auto;
  margin-top: 10px; /* Add margin top for the gap */
  color: rgba(255, 255, 255, 0.822);
  text-align: center;
  background-color: rgba(4, 52, 27, 0.44);
  padding: 8px;
  border-radius: 20px;
  width: 30rem;
}
@media (max-width: 1000px) {
  club-logo {
    width: 15em;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin: 0;
    padding: 0;
  }

  .club-logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .name > a {
    font-size: 1px;
    color: var(--bg-color);
  }
  .name > p {
    margin-top: 10px; /* Add margin top for the gap */
    color: rgba(255, 255, 255, 0.822);
    text-align: center;
    background-color: rgba(4, 52, 27, 0.44);
    padding: 8px;
    border-radius: 20px;
  }
}
@media (max-width: 500px) {
  .name > p {
    margin-top: 10px; /* Add margin top for the gap */
    color: rgba(255, 255, 255, 0.822);
    text-align: center;
    background-color: rgba(4, 52, 27, 0.44);
    padding: 8px;
    border-radius: 20px;
    width: auto;
    margin: auto;
    font-size: smaller;
  }
}
.container-social {
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Ensure it's above other elements on the page */
}
.card {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 25px 25px;
  gap: 20px;
  border: none;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  border-radius: 20%;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*-------------------------------------------------------------------------------------------------------------------*/
.header {
  background: transparent;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 4%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 100;
}
.header .navbar a {
  position: relative;
  transition: color 0.3s ease;
}
.navbar {
  background-color: rgba(0, 145, 70, 0.319);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.header .navbar a:hover {
  text-decoration: none;
}

.header .navbar a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 2px;
  background-color: var(--bg-color);
}
nav {
  display: flex;
  margin: auto;
}
.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.affix-top {
  position: static;
}
nav{
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 1.5rem;
  color: black;
  transition: all 0.1s ease-in-out;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}
/*-------------------------------------------------------------------------------------------------------------------*/
.about-container,
.implement-container {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  gap: 20px;
  justify-content: space-evenly; /* Center the columns horizontally */
  padding: 0 20px 0 40px;
  color: var(--text-color);
  place-items: center;
  box-sizing: border-box;
  margin-top: 1px;
}

.about-club,
.about-implement {
  text-align: left;
}
.club-image img {
  width: 100%;
  object-fit: contain;
  border: 2px solid black;
}
.implement-image img {
  width: 100%;
  object-fit: contain;
  border: 2px solid black;
}
@media (max-width: 1110px) {
  .about-container,
  .implement-container {
    grid-template-columns: 1fr; /* Change to a single column for small screens */
    width: 100%; /* Make both containers take full width */
    float: none; /* Clear any previous float settings */
    margin-bottom: 20px; /* Add space between the containers */
  }
}
@keyframes scroll {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}
.about-container,
.implement-container {
  animation: scroll 1s ease-in-out forwards;
}
/*-------------------------------------------------------------------------------------------------------------------*/
.design {
  box-sizing: border-box;
}
.process-wrapper {
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 25px;
}

.process-wrapper > h1 {
  align-items: center;
  margin: auto;
  text-align: center;
  padding: 35px;
}

#progress-bar-container {
  position: relative;
  width: 90%;
  margin: auto;
  height: 100px;
  margin-top: 40px;
}
.step {
  transition: background-color 0.6s ease-in-out;
}

#progress-bar-container ul {
  padding: 0;
  margin: 0;
  padding-top: 15px;
  z-index: 9999;
  position: absolute;
  width: 100%;
  margin-top: -39px;
}

#progress-bar-container li:before {
  content: " ";
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  transition: all ease 0.3s;
  margin-bottom: 5.35rem;
}

#progress-bar-container li.active:before {
  background-image: url(images/tractor.png);
}

#progress-bar-container li {
  float: left;
  width: 20%;
  text-align: center;
  color: #aaa;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
  font-weight: 700;
  transition: all ease 0.2s;
  vertical-align: bottom;
  height: 75px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

#progress-bar-container li .step-inner {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: small;
  margin-bottom: -2rem;
}
.list-style2 {
  margin: auto;
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("images/image.png");
  background-repeat: no-repeat;
  background-position: center;
}

#progress-bar-container li.active,
#progress-bar-container li:hover {
  color: #444;
}

#progress-bar-container li:after {
  content: " ";
  display: block;
  width: 6px;
  height: 6px;
  background: #777;
  margin: auto;
  border: solid 7px #fff;
  border-radius: 50%;
  margin-top: 3.5rem;
  box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
  transition: all ease 0.2s;
}

#progress-bar-container li:hover:after {
  background: #555;
}

#progress-bar-container li.active:after {
  background: #207893;
}

#progress-bar-container #line {
  width: 80%;
  margin: auto;
  background: #eee;
  height: 6px;
  position: absolute;
  left: 10%;
  top: 7.25rem;
  z-index: 1;
  border-radius: 50px;
  transition: all ease 0.9s;
}

#progress-bar-container #line-progress {
  width: 3%;
  height: 100%;
  background: #207893;
  background: linear-gradient(to right, #207893 0%, #2ea3b7 100%);
  position: absolute;
  z-index: 2;
  border-radius: 50px;
  transition: all ease 0.9s;
}

#progress-content-section {
  width: 90%;
  margin: auto;
  margin-top: 3.5rem;
  background: rgba(13, 160, 84, 0.585);
  border-radius: 4px;
}

#progress-content-section .section-content {
  padding: 30px 40px;
  text-align: center;
}

#progress-content-section .section-content h2 {
  font-size: xx-large;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 1px;
}

#progress-content-section .section-content p {
  font-size: 16px;
  line-height: 1.8em;
  color: var(--text-color);
}

#progress-content-section .section-content {
  display: none;
  animation: FadeInUp 700ms ease 1;
  animation-fill-mode: forwards;
  transform: translateY(15px);
  opacity: 0;
}

#progress-content-section .section-content.active {
  display: block;
}
@keyframes FadeInUp {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/*-------------------------------------------------------------------------------------------------------------------*/
.container-sponsor {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Two equal-width columns */
  gap: 20px;
  justify-content: space-evenly; /* Center the columns horizontally */
  padding: 0 20px 0 40px;
  color: var(--text-color);
  place-items: center;
  box-sizing: border-box;
  margin-top: 1px;
}
@media (max-width: 1000px) {
  .container-sponsor {
    grid-template-columns: 1fr;
    padding: 0%;
  }
}

.card-sponsor {
  margin: 2%;
  background: #dbbdbd;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  height: 300px;
  transition: 0.2s all;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-size: 13px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
.card-sponsor > ul {
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 20px;
}
.p1 {
  height: 400px;
}
.p2 {
  height: 350px;
}
.container-sponsor:hover .card-sponsor {
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}

.container-sponsor:hover .card-sponsor:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  background: #a82c2c;
  color: white;
}
/* --------------------------------------------------------------------- */
.container-slideshow {
  height: 100vh;
  display: flex;
  overflow: hidden;
  margin: 50px 0 30px 0;
}
.controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  background-color: #faf0e6;
  cursor: pointer;
  z-index: 2;
}
svg {
  height: 6vh;
  width: 10vw;
}
.images {
  display: flex;
  transition: transform 1s ease-in-out;
  align-items: center; /* Center horizontally */
  justify-content: flex-start; /* Center vertically */
  height: 100%; /* Center vertically */
  width: 100%; /* Adjusted width */
}

figure {
  display: flex;
  flex: 0 0 100%;
  justify-content: center;
  margin: 0 auto;
}
.container-slideshow img {
  width: 60%;
  object-fit: contain;
  aspect-ratio: 1/1;
}
@media (max-width: 768px) {
}
/*-------------------------------------------------------------------------------------------------------------------*/
.container-fluid-footer {
  display: flex;
  flex-direction: row;
  /* grid-template-columns: 1fr 1fr 1fr; */
  gap: 20px;
  justify-content: space-evenly;
  /* margin: auto; */
  color: #000000;
  font-size: small;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  text-align: center;
}
.line {
  width: 1.5px;
  height: 6rem;
  background-color: black;
  justify-self: center;
  align-self: center;
}

@media (max-width: 500px) {
  .line {
    height: 1.5px;
    width: 100%; /* Change this to 100% */
    background-color: black;
    align-self: center;
  }
}
.contact-details,
.social {
  justify-self: center;
  margin: auto;
}
.college h1,
.college h2,
.contact h2,
.contact h3,
.contact span {
  font-size: small;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.social li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  height: fit-content;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
}

a {
  display: block;
  color: #333;
  text-decoration: none !important;
  transition: color 0.3s;
}
@media (max-width: 500px) {
  .container-fluid-footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
    margin: auto;
    color: #000000;
    font-size: small;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    text-align: center;
  }
}
/* ==================================== */
.field_implement{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#map {
  margin-top: 1em;
  height: 80vh;
  width: 40vw;
  border: 2px solid #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  align-items: center;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  width: 80%;
}

#restart {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 2px solid white;
}

#restart:hover {
  background-color: #ffffff;
  color: #007BFF;
  border: 2px solid #007BFF;
}

#area {
  font-size: 18px;
  padding: 10px;
  margin-left: 20px;
  color: #333;
}